*{
box-sizing:border-box;
margin:0;
}
.ca1{
	border:5px solid white;
	display:inline-block;
	margin:25px;
}
.box{
	width:800px;
	height:800px;
	background-color:pink;
 
}
img{
	width:100%;	
}
.p1p{
	
	float:left;
	height:100px;
	width:100px;
	background-color:#F6FB7A;
	z-index:999 ;
	padding:5px;
}
.p2g{
	float:left;
	width:100px;
	height:100px;
	background-color:#B4E380;
	padding:5px;
}